<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ayiza | Settings - Currencies</title>
    <div th:replace="fragments/header :: header"/>
    <script type="text/javascript" src="/js/currencies.js"/>
</head>

<body>

    <div th:replace="fragments/navigation :: navcontainer"/>

    <div th:replace="fragments/navigation :: usercontainer"/>

    <div class="ay-globalsettings--12col" id="mainpage">
        <div th:replace="fragments/navigation :: toolbar"/>

        <div class="global-container-one">
            <ul class="global-container-one__breadcrumbs">
                <li><a>Home</a></li>
                <li><a>Configuration Manager</a></li>
                <li><a>Global Settings</a></li>
                <li><a>currencies</a></li>
            </ul>
        </div>
        <div class="container--main">
            <form action="" method="post">
            <div class="global-container-two">
                <div class="global-container-two__heading-container">
                    <span class="global-container-two__heading-text">Manage currencies - Add</span>
                    </div>
                <div class="global-container-two__action-container">
                    
                    <button type="button" class="global-container-three__button grey-button" onclick="location.href='currencies.html'"><div class="global-button__text">Back</div><i class="fa fa-arrow-circle-o-left fa-fw" aria-hidden="true"></i></button>
                    <button type="reset" class="global-container-three__button orange-button"><div class="global-button__text">Clear</div><i class="fa fa-times-circle-o fa-fw" aria-hidden="true"></i></button>
                    <button id="savebtn" type="button" class="global-container-three__button green-button button_last"><div class="global-button__text">Save</div><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i></button>
                </div>
            
            </div>
            <div class="global-container-three global-flex-column">
            <fieldset>
                <div class="global-page__input-container">
                    <label class="global-page__label">Language</label>
                    <select id="languageId" name="language" required="required" class="global-page__input">
                        <option th:each="language : ${languages}"
                                th:value="${language.id}"
                                th:text="${language.text}">Wireframe</option>
                    </select>
                    <div class="drop-arrow"/>
                    <div class="help-tip drop-tip"><p>Choose a language</p></div>
                </div>
                <div class="global-page__input-container">
                    <label for="currencyCode" class="global-page__label">Currency Code</label>
                    <input id="currencyCode" required="required" type="text" name="currencyCode" placeholder="Max: 3 Characters" class="global-page__input" maxlength="3"/>
                    <div class="help-tip"><p>An ISO 3 character code which must be unique</p></div>
                </div>
                <div class="global-page__input-container">
                    <label for="currencyText" class="global-page__label">Currency Text</label>
                    <input id="currencyText" required="required" type="text" name="currencyText" placeholder="Max: 70 Characters" class="global-page__input" maxlength="70"/>
                    <div class="help-tip"><p>The name of the currency</p></div>
                </div>
            </fieldset>
            </div>
            </form>
            <div class="global-container-four">

            </div>
            <div class="global-continer-five">

            </div>
        
            <div class="global-footer"></div>
        </div>

    <div class="global-popup__modal" id="deletepopupmodal">
        <div class="global-popup__box">
            <span class="global-popup__heading">Delete Selected Items</span>
            <span class="global-popup__text" id="deleteAlert">Are you sure you would like to permanently delete the selected items?</span>
            <div class="global-popup__buttons">
                <input type="button" value="Delete" class="global-popup__delete" onclick="DeleteSelected()"/>
                <input type="button" value="Cancel" class="global-popup__cancel" onclick="CancelDeleteSelected()"/>
            </div>
        </div>
    </div>
    <div class="global-popup__modal" id="addpopupmodal">
        <div class="global-popup__box">
            <span class="global-popup__heading">Add New Item</span>
            <span class="global-popup__text" id="deleteAlert">Complete all the fields below to add a new item.</span>
            <div id="global-popup__data">
                <input type="text" placeholder="currency Code" class="global-popup__input"/>
                <input type="text" placeholder="currency Text" class="global-popup__input"/>
            </div>
            <div class="global-popup__buttons">
                <input type="button" value="Add New" class="global-popup__add" onclick="AddNewRow()"/>
                <input type="button" value="Cancel" class="global-popup__cancel" onclick="CancelAddSelected()"/>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
