<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ayiza | Settings - Global</title>
    <div th:replace="fragments/header :: header"/>
</head>

<body>

    <div th:replace="fragments/navigation :: navcontainer"/>

    <div th:replace="fragments/navigation :: usercontainer"/>
<div class="ay-globalsettings--12col" id="mainpage">
    <div th:replace="fragments/navigation :: toolbar"/>

    <div class="global-container-one">
        <ul class="global-container-one__breadcrumbs">
            <li><a onclick="location.href = '../home.html'">Home</a></li>
            <li><a onclick="location.href = '../configmgr.html'">Configuration Manager</a></li>
            <li><a>Global Settings</a></li>
        </ul>
    </div>
    <div class="container--main">
        <div class="global-container-two">
            <div class="global-container-two__heading-container">
                <span class="global-container-two__heading-text">Global Settings</span>
            </div>

        </div>
        <div class="global-container-three global-flex-column">
            <div class="global-boxlist__container">
                <div class="global-boxlist__item" onClick="location.href='currencies.html'">
                    <div class="boxlist-item__heading">
                        Currencies
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-money"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        250</div>
                </div>
                <div class="global-boxlist__item" onClick="location.href='languages.html'">
                    <div class="boxlist-item__heading">
                        Languages
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-language"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        17</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Users
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-users"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        922</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Countries
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-globe"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        805</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Clients
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-id-card"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        41</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Addresses
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-address-book"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        576</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Inventory
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-archive"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        311</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Inventory
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-archive"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        311</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Clients
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-id-card"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        41</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Addresses
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-address-book"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        576</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Inventory
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-archive"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        311</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Inventory
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-archive"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        311</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Clients
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-id-card"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        41</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Addresses
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-address-book"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        576</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Inventory
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-archive"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        311</div>
                </div>
                <div class="global-boxlist__item">
                    <div class="boxlist-item__heading">
                        Inventory
                    </div>
                    <div class="boxlist-item__iconbox">
                        <i class="fa fa-3x fa-fw fa-archive"></i>
                    </div>
                    <div class="boxlist-item__counter">
                        311</div>
                </div>
            </div>
        </div>
        <div class="global-container-four">

        </div>
        <div class="global-continer-five">

        </div>

        <div class="global-footer">
            <ul class="footer__text">
                <li class="footer__text--align" onclick="systemPopup()">System Details</li>
            </ul>
        </div>
    </div>
    <div class="global-popup__modal" id="deletepopupmodal">
        <div class="global-popup__box">
            <span class="global-popup__heading">Delete Selected Items</span>
            <span class="global-popup__text" id="deleteAlert">Are you sure you would like to permanently delete the selected items?</span>
            <div class="global-popup__buttons">
                <input type="button" value="Delete" class="global-popup__delete" onclick="DeleteSelected()"/>
                <input type="button" value="Cancel" class="global-popup__cancel" onclick="CancelDeleteSelected()"/>
            </div>
        </div>
    </div>
    <div class="global-popup__modal" id="addpopupmodal">
        <div class="global-popup__box">
            <span class="global-popup__heading">Add New Item</span>
            <span class="global-popup__text" id="deleteAlert">Complete all the fields below to add a new item.</span>
            <div id="global-popup__data">
                <input type="text" placeholder="Language Code" class="global-popup__input"/>
                <input type="text" placeholder="Language Text" class="global-popup__input"/>
            </div>
            <div class="global-popup__buttons">
                <input type="button" value="Add New" class="global-popup__add" onclick="AddNewRow()"/>
                <input type="button" value="Cancel" class="global-popup__cancel" onclick="CancelAddSelected()"/>
            </div>
        </div>
        </div>
    <div id="to-top" onclick="gototop()"><span><i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i></span></div>
    </div>
</body>

</html>
