<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ayiza | Settings - Languages</title>
    <div th:replace="fragments/header :: header"/>
    <script type="text/javascript" src="/js/languages.js"/>
</head>
<body>
    <div class="ay-globalsettings--12col" id="mainpage">
        <div th:replace="fragments/navigation :: toolbar"/>
        <div class="global-container-one">
            <ul class="global-container-one__breadcrumbs">
                <li><a>Home</a></li>
                <li><a onclick="location.href = '../configmgr.html'">Configuration Manager</a></li>
                <li><a onclick="location.href = '../configmgr/globalconfig.html'">Global Settings</a></li>
                <li><a>Languages</a></li>
            </ul>
        </div>
        <div class="container--main">
            <div class="global-container-two">
                <div class="global-container-two__heading-container">
                    <span class="global-container-two__heading-text">Manage languages</span>
                </div>
                <div class="global-container-two__action-container">
                    <button class="global-container-two__action-button" id="quickactions" onclick="ToggleQuickActions()" onblur="">Quick Actions<i class="fa fa-chevron-down action-button__icon" id="quick-action-icon" aria-hidden="true"></i></button>
                    <div class="global-container-two__action-dropdown" id="quick-action-dropdown">
                        <span onclick="QuickPrintTable()"><i class="fa fa-print fa-fw action-list__icon" id="quick-action-icon" aria-hidden="true"></i>Print</span>
                        <span onclick="location.href='languages_changelog.html'"><i class="fa fa-list-alt fa-fw action-list__icon" id="quick-action-icon" aria-hidden="true"></i>Change Log</span>
                        <span><i class="fa fa-file-pdf-o fa-fw action-list__icon" id="quick-action-icon" aria-hidden="true"></i>Export PDF</span>
                        <span onclick="location.href='languages_import.html'"><i class="fa fa-upload fa-fw action-list__icon" id="quick-action-icon" aria-hidden="true"></i>Import CSV</span>
                    </div>
                </div>
            </div>
            <div class="global-container-three">
                <button class="global-container-three__button dodgerblue-button" onclick="location.href='languages/add.html'"><div class="global-button__text">Add</div><i class="fa fa-plus fa-fw" aria-hidden="true"></i></button>
                <button class="global-container-three__button crimson-button" onclick="ShowDeletePopup()"><div class="global-button__text">Delete</div><i class="fa fa-trash fa-fw" aria-hidden="true"></i></button>
                <div class="global-container-three__show-container"><span class="show-dropdown__text"><div class="global-button__text">Show</div></span><label id="showicon" class="show-dropdown__icon" onclick="ShowXTableRows()">
                    <select class="show-dropdown__box" id="showamount" onclick="TableCount(); toggleShowBox()" onblur="toggleShowBox('reset')" onchange="TablePageReset()">
                        <option>6</option>
                        <option>12</option>
                        <option>20</option>
                        <option>30</option>
                        <option>All</option>
                    </select>
                </label></div>
                <div class="search-table-container">
                                <span class="search-table__icon">
                                <i class="fa fa-search fa-fw action-list__icon" id="quick-action-icon" aria-hidden="true"></i></span>
                    <input type="search" class="search-table__box fa" id="tablesearch" onkeyup="SearchGlobalTable()" onclick="expandSearchBox()" onblur="shortenSearchBox()" placeholder="Search"/>
                    <!--                    <button class="global-container-three__button" onclick="ShowAddPopup()"><div class="global-button__text">Add</div><i class="fa fa-search fa-fw" aria-hidden="true"i></i></button>-->
                </div>
            </div>

            <div class="global-container-four">
                <table class='global-container-four__table tablesorter' id='global-table'>
                    <thead>
                    <tr>
                        <th> <!--or change to td-->
                            <div class="global-table__checkbox">
                                <input type="checkbox" value="0" id="gl-ta-checkbox" name="" onclick="SelectAll(this)"/>
                                <label for="gl-ta-checkbox"></label>
                            </div>
                        </th>
                        <th>Language Code</th>
                        <th>Language Text</th>
                        <th style="float: right; margin-right: 4.8rem; padding-top: 0.5rem;">Actions</th> <!--or change to td-->
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="language : ${languages}">
                            <td>
                                <div class="global-table__checkbox">
                                    <input type="checkbox" value="1" id="gl-ta-checkbox1" name="" onclick="UncheckSelectAll()"/>
                                    <label for="gl-ta-checkbox1"></label>
                                </div>
                            </td>
                            <td th:hidden="${language.id}"/>
                            <td th:text="${language.code}"></td>
                            <td th:text="${language.text}"></td>
                            <td>
                                <div class="global-table__button-container">
                                    <button th:value="${language.id}" id="buttonview1" class="global-table__button--viewrow" onclick="pushCurrentRow(this)">
                                        <i class="fa fa-search global-table__button--icon" aria-hidden="true"></i>
                                    </button>
                                    <button th:value="${language.id}" id="buttonedit1" class="global-table__button--editrow" onclick="selectLanguage(this)">
                                        <i class="fa fa-pencil global-table__button--icon" aria-hidden="true"></i>
                                    </button>
                                    <button th:value="${language.id}" id="buttoncopy1" class="global-table__button--copyrow" onclick="pushCurrentRow(this)">
                                        <i class="fa fa-clipboard global-table__button--icon" aria-hidden="true"></i>
                                    </button>
                                    <button th:value="${language.id}" id="buttonbin1" class="global-table__button--deleterow" onclick="deleteLanguage(this)">
                                        <i class="fa fa-trash global-table__button--icon" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="global-continer-five">
                <div class="global-record-count">
                    <span class="global-record-count__text" id="globaltablecount">Showing results</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>